@media ( max-width: 960px )
.menu-button
    display: none
.hotel
        &-info
            &_offer
                margin-left: 14px
@media ( max-width: 768px )
    .container
        max-width: 560px
        width: 97%
    .navbar
        &_search
            display: none
    .user
        &_avatar
            display: none
        &_name
            display: none
    .navbar-bottom
        display: none
    .menu-button
        padding: 0
        border: none
        display: flex
        background-color: #fff
        align-content: center
        justify-content: space-between
        flex-direction: column
        width: 26px
        height: 16px
        &_line       
            width: 21px
            height: 2px
            background-color:#000
          
    .hotel
        &-wrapper
            justify-content: space-between
        
        &-info
            &_rating
                display: none
            &_offer
                margin-left: 0
                order: -1
            &_text
                width: 100%
            .stars
                flex-basis: content
.rewiur
    &-slider
        &_item
            max-width: 579px   



        

 

    
    